# Node
node_modules/

# Playwright
playwright-report/
/test-results/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS, editors
.DS_Store
Thumbs.db
.vscode/
.idea/

# env
.env
.env.local

# Optional
coverage/
